@font-face {
  font-family: lexend;
  src: url(./assets/fonts/Lexend.ttf);
}
*{
  font-family: lexend;
}

#root {
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* -------------- css start ----------- */
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}             
p{
  font-size: 18px;
  font-weight: 300  ;
}
.container {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  height: inherit;
}
.inner-section {
  padding: 60px 0;
}
.section-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
span.text-orange {
  color: #FF8200;
}
button:focus, button:focus-visible {
  outline: none;
}

/* -------------- css for hero section --------------  */
.HeroSection.section {
  position: relative;
}
.HeroSection-outer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.animated-logo {
  padding: 60px 0;
  position: absolute;
  top: 0;
}
.animated-logo img {
  width: 100%;
  max-width: 212px;
}

.HeroSection-bg-video {
  line-height: 0;
}
.HeroSection-bg-video video {
width: 100%;
height: 100%;
}
.HeroSection-inner {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeroSection-content {
  padding: 60px 0 0;
}
.HeroSection-title h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 600;
}
.HeroSection-subtitle h5  {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 200;
}
.HeroSection-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a.btn button {
  width: 100%;
  min-width: 200px;
  background: transparent;
  border: 1px solid #ff8200;
  padding: 15px 0px;
  border-radius: 100px;
  text-transform: uppercase;
}
.HeroSection-btns a:hover button {
  background: #ff8200;
}


/* css for what we section */
.WhatWeSection-varticle-card{
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 40px 0;
}

.VerticleCard-content-title h4 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}


.VerticleCard-img {
  width: 25%;
}
.VerticleCard-content {
  width: 75%;
}



.VerticleCard-img img {
  width: 100%;
  max-width: 300px;
}



/* css for vertical card  */

.VerticleCard-inner {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  background: linear-gradient(180deg, #000000 0%, #190D00 100%);
  border: 1px solid rgba(40, 40, 40, 1);
  border-radius: 20px;
  gap: 100px;
}
.VerticleCard-inner:hover{
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);

}


/* css for backstagepass section  */
section.BackStagePassSection {
  position: relative;
  padding-bottom: 300px;
}
.BackStagePassSection-bg-video video {
  width: 100%;
}
.BackStagePassSection-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.BackStagePassSection-cards {
  display: flex;
  margin-top: 250px;
  gap: 30px;
}

.Card-inner {
  border-radius: 20px;
  background: linear-gradient(180deg, #000000 0%, #190D00 100%);
  text-align: center;
  padding: 50px;
  border: 1px solid #282828;
}
.Card-img img {
  width: 100%;
  max-width: 150px;
}

.Card-content-description  h5 {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 200;
}
.Card-content-btns {
  margin: 20px 0;
}
.Card-content-btns a.btn button {
  max-width: 200px;
  width: inherit;
}
.Card-inner:hover {
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);

}
.Card-inner:hover a button{
  color: #ff8200;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

/* css for image with text component  */

.ImageWithText-inner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ImageWithText-inner-left {
  width: 45%;
}

.ImageWithText-inner-right {
  width: 55%;
}
.ImageWithText-inner-img img {
  width: 100%;
  max-width: 520px;
}
.ImageWithText-inner-description {
  margin-bottom: 30px;
}
.ImageWithText-inner-btns a button {
  max-width: 200px;
  width: inherit;
}
.ImageWithText-inner-btns a:hover button {
  background: #ff8200;
}


/* css for Call to action component  */
.CallToAction-inner-description {
  margin-bottom: 30px;
}
.CallToAction-inner-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.CallToAction-inner-btns a button {
  border: 1px solid #fff;
}
.CallToAction-inner-btns a button:hover, .Promotional_CTA-inner-btns a button:hover{
  background: #fff;
  color: #ff8200;
}

/* css for Footer  */
.Footer-inner {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.Footer-inner-left, .Footer-inner-center, .Footer-inner-right {
  width: 33.33%;
}
.Footer-logo img {
  width: 100%;
  max-width: 200px;
}
.Footer-social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.Footer-copiright p {
  color: #727272;
}
.footer-icon {
  padding: 20px;
  background: #FFFFFF14;
  border-radius: 100px;
  line-height: .5;
}


/* css for Promotional CTA component  */

.Promotional_CTA-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Promotional_CTA-inner-left {
  width: 55%;
}

.Promotional_CTA-inner-right {
  width: 45%;
}

.Promotional_CTA-inner-img img {
  width: 100%;
  padding-top: 20px;
}

.FutureSection-inner.inner-section {
  padding: 0;
}

.Promotional_CTA-inner-img {
  line-height: 0;
}
.Promotional_CTA-inner-title h2 {
  font-size: 66px;
  line-height: 1.1;
}

.Promotional_CTA-inner-btns {
  display: flex;
  gap: 30px;
}

.Promotional_CTA-inner-btns a button {
  border: 1px solid #fff;
}

.Promotional_CTA-inner-description {
  margin-bottom: 30px;
}

/* css for Future Section  */
.FutureSection-inner {
  padding: 0;
}

/* css for Market Section  */
.MarketSection-cards {
  display: flex;
  flex-wrap: wrap;
  gap: .9vw;
  justify-content: space-between;
}

.CounterCard {
  width: 32.33%;
  border: 1px solid #282828;
  border-radius: 20px;
}

.CounterCard-inner {
  padding: 50px;
}
.CounterCard:hover {
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);
}
.CounterCard-content-title h2 {
  font-weight: 400;
  border-bottom: 1px solid #FF820033;
  padding: 0 0 30px;
  margin-bottom: 30px;
}
.CounterCard-inner:hover .CounterCard-content-title h2 {
  border-bottom: 1px solid #ffffff33;
}
.CounterCard-circle {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 30px;
}

.CounterCard-inner:hover .CircularProgressbar-trail {
  stroke: #FF9F3C !important;;
}

.CounterCard-inner:hover .CircularProgressbar-path {
  stroke: #fff!important;;
}
.CounterCard-content-list-item {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.CounterCard-content-list-item-icon i.fa.fa-chevron-right {
  background: #FF8200;
  border-radius: 100px;
  font-size: 14px;
  color: #000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.CounterCard-inner:hover  .CounterCard-content-list-item-icon i.fa.fa-chevron-right {
  background: #ffffff;
  color: #FF8200;
}

.MarketSection-desciption {
  margin-bottom: 30px;
}




@media screen and (max-width: 1369px) {
  .container {
    width: 95%;
}
  .HeroSection-title h1 {
    font-size: 7vw;
}
.animated-logo img, .Footer-logo img {
  max-width: 13vw;
}
.HeroSection-subtitle h5, .Card-content-description  h5  {
  margin: 3vw 0;
  font-size: 1.6vw;
}

.HeroSection-content {
  padding: 4vw 0 0;
}
a.btn button {
  min-width: 13vw;
  font-size: 1.1vw;
}

.section-title h2 {
  font-size: 3vw;
}

.VerticleCard-inner {
  padding: 3vw 6vw;
  gap: 6vw;
}
.VerticleCard-content-title h4 {
  font-size: 2.2vw;
}
p {
  font-size: 1.3vw;
}
.BackStagePassSection-cards {
  margin-top: 15vw;
  gap: 2vw;
}
.Card-inner {
  padding: 3vw;
}
.Card-img img {
  max-width: 9vw;
}

  
}
@media screen and (max-width: 1024px) {
  .animated-logo {
    padding: 30px 0;
}
  
}

.Card-img, .VerticleCard-img {
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.VerticleCard-inner:hover .VerticleCard-img img{
  animation: imageHanging 2s ease-in-out infinite alternate;
}

.Card-inner:hover .Card-img img {
  animation: imageHanging 2s ease-in-out infinite alternate;
}

@keyframes imageHanging {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); } /* Moves UP */
  100% { transform: translateY(5px); } /* Moves DOWN */
}
