@font-face {
  font-family: lexend;
  src: url(./assets/fonts/Lexend.ttf);
}
*{
  font-family: lexend;
}

#root {
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* -------------- css start ----------- */
h1,h2,h3,h4,h5,h6, p{
  margin: 0;
}             
p{
  font-size: 18px;
  font-weight: 300  ;
}
.container {
  width: 100%;
  /* max-width: 1370px; */
  max-width: 72%;
  margin: 0 auto;
  height: inherit;
}
.inner-section {
  padding: 60px 0;
}
.section-title h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 5px;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
span.text-orange {
  color: #FF8200;
}
button:focus, button:focus-visible {
  outline: none;
}

/* -------------- css for hero section --------------  */
.HeroSection.section {
  position: relative;
}
.HeroSection-outer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.animated-logo {
  padding: 60px 0;
  position: absolute;
  top: 0;
}
.animated-logo img {
  width: 100%;
  max-width: 212px;
}

.HeroSection-bg-video {
  line-height: 0;
}
.HeroSection-bg-video video {
width: 100%;
height: 100%;
}
.HeroSection-inner {
  padding: 0!important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeroSection-content {
  padding: 60px 0 0;
}
.HeroSection-title h1 {
  font-size: 100px;
  line-height: 1.1;
  font-weight: 600;
}
.HeroSection-subtitle h5  {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 200;
}
.HeroSection-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a.btn button {
  width: 100%;
  min-width: 200px;
  background: transparent;
  border: 1px solid #ff8200;
  padding: 15px 0px;
  border-radius: 100px;
  text-transform: uppercase;
}
.HeroSection-btns a:hover button {
  background: #ff8200;
}


/* css for what we section */
.WhatWeSection-description {
  margin-bottom: 30px;
}
.WhatWeSection-varticle-card{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.VerticleCard-content-title h4 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}


.VerticleCard-img {
  width: 25%;
}
.VerticleCard-content {
  width: 75%;
}



.VerticleCard-img img {
  width: 100%;
  max-width: 300px;
}



/* css for vertical card  */

.VerticleCard-inner {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  background: linear-gradient(180deg, #000000 0%, #190D00 100%);
  border: 1px solid rgba(40, 40, 40, 1);
  border-radius: 20px;
  gap: 100px;
}
.VerticleCard-inner:hover{
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);

}


/* css for backstagepass section  */
section.BackStagePassSection {
  position: relative;
}
.BackStagePassSection-bg-video video {
  width: 100%;
}
/* .BackStagePassSection-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */
.BackStagePassSection-inner {
  z-index: 0;
  position: relative;
  padding-bottom: 0!important;
}
.BackStagePassSection-bg-video {
  position: absolute;
  width: 100%;
}
.BackStagePassSection-description {
  margin-bottom: 30px;
}

.BackStagePassSection-cards {
  display: flex;
  margin-top: 250px;
  gap: 30px;
}
.Card {
  width: 33.33%;
}

.Card-inner {
  border-radius: 15px;
  background: linear-gradient(180deg, #000000 0%, #190D00 100%);
  text-align: center;
  padding: 50px;
  border: 1px solid #282828;
}
.Card-img img {
  width: 100%;
  max-width: 150px;
}

.Card-content-description h5 {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 200;
  height: 8vw;
  overflow: hidden;
}

.Card-content-btns a.btn button {
  max-width: 200px;
  width: inherit;
}
.Card-inner:hover {
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);

}
.Card-inner:hover a button{
  color: #ff8200;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.Card-img, .VerticleCard-img {
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.VerticleCard-inner:hover .VerticleCard-img img{
  animation: imageHanging 2s ease-in-out infinite alternate;
}

.Card-inner:hover .Card-img img {
  animation: imageHanging 2s ease-in-out infinite alternate;
}

/* css for image with text component  */

.ImageWithText-inner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ImageWithText-inner-left {
  width: 45%;
}

.ImageWithText-inner-right {
  width: 55%;
}
.ImageWithText-inner-img img {
  width: 100%;
  max-width: 420px;
}
.ImageWithText-inner-description {
  margin-bottom: 30px;
}
.ImageWithText-inner-btns a button {
  max-width: 200px;
  width: inherit;
}
.ImageWithText-inner-btns a:hover button {
  background: #ff8200;
}


/* css for Call to action component  */
.CallToAction-inner-description {
  margin-bottom: 20px;
}
.CallToAction-inner-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.CallToAction-inner-btns a button {
  border: 1px solid #fff;
}
.CallToAction-inner-btns a button:hover, .Promotional_CTA-inner-btns a button:hover {
  background: #fff;
  color: #ff8200;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* css for Footer  */
.Footer-inner {
  display: flex;
  align-items: center;
  padding: 20px 0;
  padding: 10px 0;
}

.Footer-inner-left, .Footer-inner-center, .Footer-inner-right {
  width: 33.33%;
}
.Footer-logo img {
  width: 100%;
  max-width: 200px;
}
.Footer-social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
.Footer-copiright p {
  color: #727272;
}
.footer-icon {
  padding: 20px;
  background: #FFFFFF14;
  border-radius: 100px;
  line-height: .5;
}


/* css for Promotional CTA component  */

.Promotional_CTA-inner {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Promotional_CTA-inner-left {
  width: 55%;
}

.Promotional_CTA-inner-right {
  width: 45%;
}

.Promotional_CTA-inner-img img {
  width: 100%;
  padding-top: 20px;
}

.FutureSection-inner.inner-section {
  padding: 0;
}

.Promotional_CTA-inner-img {
  line-height: 0;
}
.Promotional_CTA-inner-title h2 {
  font-size: 66px;
  line-height: 1.1;
}

.Promotional_CTA-inner-btns {
  display: flex;
  gap: 30px;
}

.Promotional_CTA-inner-btns a button {
  border: 1px solid #fff;
}

.Promotional_CTA-inner-description {
  margin-bottom: 30px;
}

/* css for Future Section  */
.FutureSection-inner {
  padding: 0;
}

/* css for Market Section  */
.MarketSection-cards {
  display: grid;
  gap: .9vw;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.CounterCard {
  border: 1px solid #282828;
  border-radius: 20px;
}

.CounterCard-inner {
  padding: 50px;
}
.CounterCard:hover {
  background: linear-gradient(360deg, #FF8200 -3.33%, #F1922E 100%);
}
.CounterCard-content-title h2 {
  font-weight: 400;
  border-bottom: 1px solid #FF820033;
  padding: 0 0 20px;
  margin-bottom: 20px;
}
.CounterCard:hover .CounterCard-content-title h2 {
  border-bottom: 1px solid #ffffff33;
}
.CounterCard-circle {
  width: 100%;
  max-width: 150px;
  margin: 0 auto 15px;
}

.CounterCard:hover .CircularProgressbar-trail {
  stroke: #FF9F3C !important;;
}

.CounterCard:hover .CircularProgressbar-path {
  stroke: #fff!important;;
}
.CounterCard-content-list-item {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}
.CounterCard-content-list-item-icon i.fa.fa-chevron-right {
  background: #FF8200;
  border-radius: 100px;
  font-size: 14px;
  color: #000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.CounterCard:hover  .CounterCard-content-list-item-icon i.fa {
  background: #ffffff;
  color: #FF8200;
}

.MarketSection-description {
  margin-bottom: 30px;
}


/* css for Faq Section  */
.FaqSection-description {
  margin-bottom: 30px;
}
.FaqSection-inner-faq-lists {
  display: flex;
  gap: 50px;
}
.FaqSection-inner-faq-lists-left {
  width: 50%;
}

.FaqSection-inner-faq-lists-right {
  width: 50%;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

span.icon {
  width: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

.accordion-item {
  border: 1px solid #282828;
  border-radius: 10px;
  margin-bottom: 20px;
}
.accordion-item:last-child {
  margin-bottom: 0;
}
.accordion-title {
  font-size: 18px;
  font-weight: 500;
}
.accordion-content {
  padding: 0 30px 20px;
  font-size: 16px;
  font-weight: 300;
}
.accordion-content li {
  margin-bottom: 15px;
}
.accordion-content li:last-child {
  margin-bottom: 0;
}
.accordion-content ul {
padding: 0;
margin: 0;
}
.accordion-content ul ul {
  margin-top: 10px;
  padding: 0 0 0 1vw;
}




/* css for Future Section  */
.ml9 {
  position: relative;
  font-weight: 600;
  font-size: 66px;
  text-align: start;
  line-height: 1.3;
}
.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  overflow: hidden;
}
.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
  letter-spacing: -1px;
}


/* css for pdf popup  */

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000ed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

 /* Full-Screen Black Overlay */
 .pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000ed; /* Almost black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Clickable Background */
.pdf-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PDF Container - Centered */
.pdf-container, .popup-content  {
  position: relative;
  background: transparent;
  width: 80%;
  max-width: 900px;
  height: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(34, 34, 34, 0.2);
}

/* PDF Viewer */
.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}

/* Close Button */
.close-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background: #2d2b2b;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 100px;
  z-index: 1001;
  transform: translate(-50%, 0%);
}
button.close-btn:hover {
background: red;
}
.popup-inner-btns {
  display: flex;
  gap: 15px;
}
.popup-inner-btns a:hover button {
  background: #ff8200;
}


@media screen and (max-width: 1569px) {
  .container {
    width: 95%;
}
.inner-section {
  padding: 3.5vw 0;
} 
 .HeroSection-title h1 {
    font-size: 5.3vw;
}
.animated-logo img, .Footer-logo img {
  max-width: 13vw;
}
.HeroSection-subtitle h5  {
  margin: 2vw 0;
  font-size: 1.4vw;
}
.Card-content-description h5  {
  margin: 1.5vw 0 1vw;
  font-size: 1.3vw;
}

.HeroSection-content {
  padding: 0vw 0 0;
}
a.btn button {
  min-width: 12vw;
  font-size: .9vw;
  padding: 1vw 0;
}
.HeroSection-btns, .CallToAction-inner-btns, .Promotional_CTA-inner-btns  {
  gap: 1vw;
}


.section-title h2 {
  font-size: 2.4vw;
}

.VerticleCard-inner {
  padding: 3vw 5vw;
  gap: 4vw;
}
.VerticleCard-content-title h4 {
  font-size: 1.7vw;
}
.VerticleCard-img img {
  width: 100%;
  max-width: 12vw;
}
p {
  font-size: .93vw;
}
.BackStagePassSection-cards {
  margin-top: 12vw;
  gap: 2vw;
}

.Card-inner {
  padding: 2vw 2.9vw;
}
.Card-img img {
  max-width: 8vw;
}
.CounterCard {
  border: 1px solid #282828;
  border-radius: 1vw;
}
.CounterCard-inner {
  padding: 2vw;
}
.CounterCard-circle {
  max-width: 8vw;
}
.CounterCard-content-list-item {
  gap: 1vw;
}
.CounterCard-content-title h2 {
  font-size: 1.3vw;
}
.CounterCard-content-list-item-icon i.fa.fa-chevron-right {
  width: 1.6vw;
  height: 1.6vw;
  font-size: .8vw;
}
.FaqSection-inner {
  padding-top: 0;
}
.FaqSection-inner-faq-lists {
  gap: 3vw;
}
.accordion-header {
  padding: 1vw 1.1vw;
}
.accordion-title {
  font-size: .93vw;
}
span.icon {
  font-size: 1vw;
}
.accordion-content {
  padding: 0 2vw 1vw;
}
.accordion-content li {
  margin-bottom: 1vw;
  font-size: .92vw;
}
.ml9 {
  font-size: 3.5vw;
}
.Footer-inner {
  padding: 1vw 0;
}
.footer-icon {
  padding: 1.2vw;
}
  
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 93%;
    margin: 0 auto;
    height: inherit;
}
  .animated-logo {
    padding: 30px 0;
}
.HeroSection-title h1 {
  font-size: 46px;
}
.HeroSection-subtitle h5 {
  margin: 20px 0;
  font-size: 18px;
}
a.btn button {
  min-width: 150px;
  font-size: 13px;
  padding: 12px 0;
}
.section-title h2 {
  font-size: 30px;
}
p {
  font-size: 13px;
}
.WhatWeSection-varticle-card {
  gap: 20px;
}
.VerticleCard-inner {
  padding: 20px;
  gap: 0px;
}
.VerticleCard-img {
  width: 18%;
}
.VerticleCard-content {
  width: 82%;
}
.VerticleCard-content-title h4 {
  font-size: 20px;
}
.BackStagePassSection-cards {
  margin-top: 80px;
  gap: 2vw;
}
.Card-content-description h5 {
  font-size: 14px;
  height: 85px;
}

.CounterCard {
  border: 1px solid #282828;
  border-radius: 1vw;
}
.CounterCard-circle {
  max-width: 90px;
}
.CounterCard-content-title h2 {
  font-size: 16px;
}
.accordion-header {
  padding: 10px;
}
.accordion-title {
  font-size: 15px;
}
.accordion-content li {
  margin-bottom: 1vw;
  font-size: 13px;
}
.accordion-content {
  padding: 0 4vw 1vw;
}
.ml9 {
  font-size: 34px;
}
}


@media screen and (max-width: 600px) {
  .inner-section {
    padding: 30px 0;
}
  .HeroSection-bg-video {
    overflow-x: hidden;
}
  .HeroSection-bg-video video {
    width: 800px;
}
.HeroSection-title h1 {
  font-size: 34px;
}
.HeroSection-subtitle h5 {
  margin: 15px 0;
  font-size: 16px;
}
a.btn button {
  min-width: 140px;
}
.section-title h2 {
  font-size: 26px;
}
p {
  font-size: 14px;
}
.VerticleCard-inner {
  flex-direction: column;
}
.VerticleCard-img {
  width: 100%;
}
.VerticleCard-content {
  width: 100%;
}
.VerticleCard-img img {
  width: 100%;
  max-width: 100px;
}

.BackStagePassSection-cards {
  flex-direction: column;
  margin-top: 30px;
}
.Card {
  width: 100%;
}
.Card-inner {
  padding: 50px ;
}
.Card-img img {
  max-width: 100px;
}
.Card-content-description h5 {
  font-size: 18px;
  height: inherit;
  margin-bottom: 15px;
}
.ImageWithText-inner {
  flex-direction: column;
  gap: 10px;
}
.ImageWithText-inner-left {
  width: 100%;
}
.ImageWithText-inner-right {
  width: 100%;
}
.ImageWithText-inner-btns {
  margin-bottom: 10px;
}
.HeroSection-btns, .CallToAction-inner-btns, .Promotional_CTA-inner-btns {
  gap: 10px;
}
.MarketSection-cards {
  display: grid;
  gap: .9vw;
  grid-template-columns: 100%;
}
.CounterCard {
  width: 100%;
  border-radius: 10px;
}
.CounterCard-content-list-item {
  gap: 10px;
}
.CounterCard-content-list-item-icon i.fa.fa-chevron-right {
  width: 20px;
  height: 20px;
  font-size: 10px;
}
.CounterCard-inner {
  padding: 30px 20px;
}
.MarketSection-cards {
  gap: 10px;
}
.MarketSection-inner {
  padding-bottom: 0;
}
.FaqSection-inner-faq-lists {
  gap: 10px;
  flex-direction: column;
}
.FaqSection-inner-faq-lists-left, .FaqSection-inner-faq-lists-right {
  width: 100%;
}
.accordion-content {
  padding: 0 40px 1vw;
}
.accordion-item {
  margin-bottom: 10px;
}
span.icon {
  font-size: 15px;
}
.Promotional_CTA-inner {
  flex-direction: column;
}
.Promotional_CTA-inner-left, .Promotional_CTA-inner-right {
  width: 100%;
  text-align: center;
}
.ml9 {
  font-size: 10.5vw;
}
.Promotional_CTA-inner-btns {
  justify-content: center;
}
.Footer-inner {
  flex-direction: column-reverse;
}
.Footer-inner-left, .Footer-inner-center, .Footer-inner-right {
  width: 100%;
}
.Footer-copiright p {
  text-align: center;
}
.animated-logo img, .Footer-logo img {
  max-width: 120px;
}
}


@keyframes imageHanging {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); } /* Moves UP */
  100% { transform: translateY(5px); } /* Moves DOWN */
}
